///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #f0f0f0;
$masthead-small-color:   #f0f0f0;

$post-title-color:       #f0f0f0;
$post-date-color:        #252421;


$body-color:            #f0f0f0;
$body-background-color: #2c2c2c;

$link-color:            #f6cc3e;

$headings-color:        #f0f0f0;    // h1,h2,h3,h4,h5,h6

$strong-color:          #fff;    // strong

$pre-background-color:  #2c2c2c;    // pre

$blockquote-color:        #ccc;  // blockquote
$blockquote-border-color: #ccc;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #f9f9f9;
